<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit </title>
</head>
<body>
    <h1>Edit Pokemon </h1>
    <form action="/pokemon/<%=index%>?_method=PUT" method="POST" >
        Name: <input type="text" name="name" value="<%=pokemon.name%>">
        Id: <input type="text" name="color" value="<%=pokemon.id%>">
        Hp: <input type="text" name='stats[hp]' value="<%=pokemon.stats.hp%>">
        Attack: <input type="text" name='stats[attack]' value="<%=pokemon.stats.attack%>">
        Defense: <input type="text" name='stats[defense]' value="<%=pokemon.stats.defense%>">
        
        Speed: <input type="text" name="name" value="<%=pokemon.stats.speed%>">

        
        <input type="submit" name = "" value="Submit Changes"/>
    </form>
    
</body>
</html>