<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Page</title>
</head>
<body>
<h1><%=pokemon.name %></h1>
   <h2> 
    <img src="<%=pokemon.img %>" alt="Pokemon photo">
    Id:<%=pokemon.id; %> 
    Type: <%=pokemon.type; %>
    
    </h2>
<h1> STATS</h1>
<h2>
      hp: <%=pokemon.stats.hp; %>
      attack: <%=pokemon.stats.attack; %>
      defense: <%=pokemon.stats.defense; %>
      
    </h2>



</h2>


<a href="/pokemon">Go back to Pokemons</a>


</body>
</html>